.share {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  text-align: right;
}

.tips {
  width: 80%;
  padding: 14px;
}
