:focus:not([data-rn-x92cna]) {
  outline: none;
}

:focus:not([data-rn-x92cna]) {
  outline: none;
}

@media all {
  html {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    margin: 0px;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button,
  input::-webkit-search-cancel-button,
  input::-webkit-search-decoration,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }
}

.rn-12vffkv > * {
  pointer-events: auto;
}

.rn-12vffkv {
  pointer-events: none !important;
}

.rn-1oszu61 {
  -webkit-box-align: stretch;
  align-items: stretch;
}

* {
  box-sizing: border-box;
}

.rn-1mnahxq {
  margin-top: 0px;
}

.rn-61z16t {
  margin-right: 0px;
}

.rn-p1pxzi {
  margin-bottom: 0px;
}

.rn-11wrixw {
  margin-left: 0px;
}

.rn-ifefl9 {
  min-height: 0px;
}

.rn-bcqeeo {
  min-width: 0px;
}

.rn-wk8lta {
  padding-top: 0px;
}

.rn-9aemit {
  padding-right: 0px;
}

.rn-1mdbw0j {
  padding-bottom: 0px;
}

.rn-gy4na3 {
  padding-left: 0px;
}

.rn-bnwqim {
  position: relative;
}

.rn-1lgpqti {
  z-index: 0;
}

@media all {
  html {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    margin: 0px;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button,
  input::-webkit-search-cancel-button,
  input::-webkit-search-decoration,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }
}

.rn-tmtnm0 {
  height: 45px;
}

.rn-1d2f490 {
  left: 0px;
}

.rn-u8s1d {
  position: absolute;
}

.rn-ipm5af {
  top: 0px;
}

.rn-13qz1uu {
  width: 100%;
}

.rn-c97pre {
  z-index: 999;
}

.rn-n4ptx6 {
  padding-bottom: 0.5px;
}

.rn-ga31ov {
  width: 100%;
}

.rn-1niwhzg {
  background-color: rgba(0, 0, 0, 0);
}

.rn-11yh6sk {
  overflow-x: hidden;
}

.rn-buy8e9 {
  overflow-y: hidden;
}

.rn-vvn4in {
  background-position: center center;
}

.rn-u6sd8q {
  background-repeat: no-repeat;
}

.rn-4gszlv {
  background-size: cover;
}

.rn-1p0dtai {
  bottom: 0px;
}

.rn-1pi2tsx {
  height: 100%;
}

.rn-zchlnj {
  right: 0px;
}

.rn-1wyyakw {
  z-index: -1;
}

.rn-ehq7j7 {
  background-size: contain;
}

.rn-zso239 {
  margin-right: 10px;
}

.rn-1kv6naz {
  width: 66px;
}

.rn-18r00lb {
  width: 195px;
}

.rn-1272l3b {
  opacity: 0;
}

.rn-vgvm5k {
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.rn-qklmqi {
  border-bottom-width: 1px;
}

.rn-1mdbics {
  height: 43px;
}

.rn-1wtj0ep {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.rn-lrvibr {
  user-select: none;
}

.rn-1loqt21 {
  cursor: pointer;
}

.rn-1otgn73 {
  touch-action: manipulation;
}

.rn-16mh0l9 {
  width: 48.75px;
}

.rn-homxoj {
  color: inherit;
}

.rn-1471scf {
  display: inline;
}

.rn-14xgk7a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.rn-1b43r93 {
  font-size: 14px;
}

.rn-o11vmf {
  font-style: inherit;
}

.rn-ebii48 {
  font-variant: inherit;
}

.rn-gul640 {
  font-weight: inherit;
}

.rn-t9a87b {
  line-height: inherit;
}

.rn-bauka4 {
  text-decoration: none;
}

.rn-q42fyq {
  white-space: pre-wrap;
}

.rn-qvutc0 {
  overflow-wrap: break-word;
}

.rn-q4m81j {
  text-align: center;
}

.rn-1rnoaur {
  overflow-y: auto;
}

.rn-emqnss {
  transform: translateZ(0px);
}

.rn-ukszzm {
  height: 550px;
}

.rn-1fsb7ud {
  height: 61px;
}

.rn-1pvhfgn {
  padding-left: 13px;
}

.rn-jwli3a {
  color: rgb(255, 255, 255);
}

.rn-1x35g6 {
  font-size: 24px;
}

.rn-poiln3 {
  font-family: inherit;
}

.rn-7cikom {
  font-size: inherit;
}

.rn-irrty {
  white-space: inherit;
}

.rn-evnaw {
  font-size: 22px;
}

.rn-1enofrn {
  font-size: 12px;
}

.rn-1f6r7vd {
  margin-left: 5px;
}

.rn-lfsff2 {
  text-decoration: line-through;
}

.rn-eaoiey {
  background-color: rgb(250, 234, 233);
}

.rn-xd6kpl {
  padding-bottom: 8px;
}

.rn-m611by {
  padding-top: 10px;
}

.rn-1c4mltk {
  width: 112px;
}

.rn-1c7kxej {
  color: rgb(241, 59, 95);
}

.rn-10x49cs {
  font-size: 10px;
}

.rn-1cs9je2 {
  border-top-left-radius: 3px;
}

.rn-gcxovt {
  border-top-right-radius: 3px;
}

.rn-1pceei8 {
  border-bottom-right-radius: 3px;
}

.rn-167sj8n {
  border-bottom-left-radius: 3px;
}

.rn-vbsf80 {
  height: 25px;
}

.rn-165ru7n {
  width: 22px;
}

.rn-1j2lelc {
  background-color: rgb(241, 59, 95);
}

.rn-kicko2 {
  border-top-left-radius: 4px;
}

.rn-notknq {
  border-top-right-radius: 4px;
}

.rn-1dpl46z {
  border-bottom-right-radius: 4px;
}

.rn-6t5ypu {
  border-bottom-left-radius: 4px;
}

.rn-18yzcnr {
  height: 22px;
}

.rn-14gqq1x {
  margin-top: 4px;
}

.rn-yc9v9c {
  width: 22px;
}

.rn-hvr2u3 {
  width: 10px;
}

.rn-16dba41 {
  font-weight: 400;
}

.rn-ml9okn {
  margin-top: 17px;
}

.rn-f727ji {
  padding-left: 12px;
}

.rn-j2kj52 {
  padding-right: 12px;
}

.rn-1khnkhu {
  color: rgb(51, 51, 51);
}

.rn-1inkyih {
  font-size: 17px;
}

.rn-vw2c0b {
  font-weight: bold;
}

.rn-waer2z {
  line-height: 25px;
}

.rn-n6v787 {
  font-size: 13px;
}

.rn-fxxt2n {
  line-height: 15px;
}

.rn-156q2ks {
  margin-top: 10px;
}

.rn-18pbk96 {
  color: rgb(191, 17, 17);
}

.rn-15d164r {
  margin-bottom: 10px;
}

.rn-mc9410 {
  border-top-color: rgb(229, 203, 203);
}

.rn-1qw43c8 {
  border-right-color: rgb(229, 203, 203);
}

.rn-650bmf {
  border-bottom-color: rgb(229, 203, 203);
}

.rn-141kftk {
  border-left-color: rgb(229, 203, 203);
}

.rn-f1w8kp {
  border-top-left-radius: 20px;
}

.rn-cqzzvf {
  border-top-right-radius: 20px;
}

.rn-1hd4d43 {
  border-bottom-right-radius: 20px;
}

.rn-u0ci3n {
  border-bottom-left-radius: 20px;
}

.rn-5kkj8d {
  border-top-width: 1px;
}

.rn-13l2t4g {
  border-right-width: 1px;
}

.rn-1ljd8xs {
  border-left-width: 1px;
}

.rn-kc8jnq {
  margin-top: 6px;
}

.rn-1hzysfj {
  max-width: 351px;
}

.rn-l4nmg1 {
  padding-bottom: 2px;
}

.rn-1qfoi16 {
  padding-right: 10px;
}

.rn-1hfyk0a {
  padding-left: 10px;
}

.rn-vmopo1 {
  padding-top: 2px;
}

.rn-mqqhkj {
  background-color: rgb(248, 248, 248);
}

.rn-1or9b2r {
  height: 10px;
}

.rn-n3sdqm {
  padding-right: 14px;
}

.rn-y8nl5v {
  padding-left: 14px;
}

.rn-cc4kyd {
  color: rgb(153, 153, 153);
}

.rn-1b7u577 {
  margin-right: 12px;
}

.rn-19qrga8 {
  margin-top: 3px;
}

.rn-wr9vkk {
  margin-bottom: 3px;
}

.rn-11qnlpg {
  border-top-color: rgb(191, 17, 17);
}

.rn-1oy8vrq {
  border-right-color: rgb(191, 17, 17);
}

.rn-yi5chn {
  border-bottom-color: rgb(191, 17, 17);
}

.rn-1pm3prt {
  border-left-color: rgb(191, 17, 17);
}

.rn-bxaprw {
  border-top-left-radius: 7px;
}

.rn-1ioqa4e {
  border-top-right-radius: 7px;
}

.rn-py1axk {
  border-bottom-right-radius: 7px;
}

.rn-44c749 {
  border-bottom-left-radius: 7px;
}

.rn-1pexk7n {
  height: 14px;
}

.rn-7o8qx1 {
  margin-right: 5px;
}

.rn-1hvjb8t {
  padding-right: 4px;
}

.rn-m2pi6t {
  padding-left: 4px;
}

.rn-qqjak8 {
  font-size: 9px;
}

.rn-djgu52 {
  color: rgb(102, 102, 102);
}

.rn-dnmrzs {
  max-width: 100%;
}

.rn-1udbk01 {
  text-overflow: ellipsis;
}

.rn-3s2u2q {
  white-space: nowrap;
}

.rn-14lw9ot {
  background-color: rgb(255, 255, 255);
}

.rn-h3s6tt {
  height: 48px;
}

.rn-1rq6c10 {
  margin-right: 11px;
}

.rn-8akbws {
  -webkit-box-orient: vertical;
}

.rn-k2gkaz {
  -webkit-line-clamp: 2;
}

.rn-krxsd3 {
  display: -webkit-box;
}

.rn-1hqaikw {
  border-top-color: rgb(229, 229, 229);
}

.rn-ywlg7j {
  border-right-color: rgb(229, 229, 229);
}

.rn-gtgsb0 {
  border-bottom-color: rgb(229, 229, 229);
}

.rn-8pxpke {
  border-left-color: rgb(229, 229, 229);
}

.rn-1oa8saw {
  margin-right: 14px;
}

.rn-ltgprq {
  margin-left: 14px;
}

.rn-ttdzmv {
  padding-top: 12px;
}

.rn-kzbkwu {
  padding-bottom: 12px;
}

.rn-1d4mawv {
  margin-right: 4px;
}

.rn-1cwl3u0 {
  line-height: 16px;
}

.rn-1knfw1x {
  margin-right: 1px;
}

.rn-1aockid {
  width: 40px;
}

.rn-15zeulg {
  padding-top: 3px;
}

.rn-3hmvjm {
  padding-bottom: 3px;
}

.rn-1hjwoze {
  height: 18px;
}

.rn-12ym1je {
  width: 18px;
}

.rn-1j2wfwj {
  max-width: 275px;
}

.rn-bt1l66 {
  min-height: 20px;
}

.rn-lltvgl {
  overflow-x: auto;
}

.rn-j9b53g {
  border-top-left-radius: 10px;
}

.rn-1i97xy8 {
  border-top-right-radius: 10px;
}

.rn-tabonr {
  border-bottom-right-radius: 10px;
}

.rn-shm4j {
  border-bottom-left-radius: 10px;
}

.rn-1n0xq6e {
  margin-left: 10px;
}

.rn-1mi0q7o {
  padding-bottom: 10px;
}

.rn-1qxgc49 {
  padding-top: 15px;
}

.rn-hbpseb {
  line-height: 22px;
}

.rn-x3cy2q {
  background-size: 100% 100%;
}

.rn-6st0mw {
  background-color: rgba(255, 255, 255, 0.9);
}

.rn-11ti67c {
  height: 55.2083px;
}

.rn-1jcaaag {
  height: 39.5833px;
}

.rn-2q97c {
  margin-left: 4.16667px;
}

.rn-ouo632 {
  margin-right: 4.16667px;
}

.rn-1h3ijdo {
  height: 53px;
}

.rn-knmrlr {
  width: 62.5px;
}

.rn-sr1h2r {
  width: 41.6667px;
}

.rn-1o384ya {
  width: 46.875px;
}

.rn-1xevv56 {
  padding-left: 8.33333px;
}

.rn-14s2xll {
  padding-right: 8.33333px;
}

.rn-15go85j {
  background-color: rgb(221, 177, 81);
}

.rn-v2x0ok {
  border-top-left-radius: 19px;
}

.rn-1se7c1 {
  border-top-right-radius: 19px;
}

.rn-1t4sb3n {
  border-bottom-right-radius: 19px;
}

.rn-opq7vk {
  border-bottom-left-radius: 19px;
}

.rn-d0pm55 {
  margin-bottom: 5px;
}

.rn-1a8msfu {
  height: 38px;
}

.rn-skdvwq {
  height: 77.2059px;
}

.rn-le4sbl {
  margin-bottom: 18px;
}

.rn-1wzrnnt {
  margin-top: 16px;
}

.rn-1q83ghk {
  color: rgba(0, 0, 0, 0.88);
}

.rn-a023e6 {
  font-size: 15px;
}

.rn-zl2h9q {
  margin-bottom: 2px;
}

.rn-82c395 {
  color: rgb(159, 128, 82);
}

.rn-1ifrmw8 {
  margin-right: 3px;
}

.rn-6to9so {
  border-top-color: rgb(246, 246, 246);
}

.rn-10f5vxa {
  border-right-color: rgb(246, 246, 246);
}

.rn-raa6q {
  border-bottom-color: rgb(246, 246, 246);
}

.rn-1238reg {
  border-left-color: rgb(246, 246, 246);
}

.rn-1ba89he {
  padding-right: 13px;
}

.rn-14gvhwr {
  padding-top: 19px;
}

.rn-ah86l4 {
  padding-bottom: 19px;
}

.rn-tskmnb {
  padding-top: 8px;
}

.rn-1rngwi6 {
  margin-left: 6px;
}

.rn-njp1lv {
  padding-top: 1px;
}

.rn-ilng1c {
  padding-bottom: 1px;
}

.rn-a2tzq0 {
  -webkit-box-pack: justify;
  justify-content: space-around;
}

.rn-jtb54r {
  border-bottom-color: rgb(159, 130, 87);
}

.rn-16wydv0 {
  border-bottom-width: 2px;
}

.rn-ku1wi2 {
  margin-bottom: 15px;
}

.rn-rys0wk {
  height: 186px;
}

.rn-13hce6t {
  margin-left: 4px;
}

.rn-b97nyv {
  width: 113px;
}

.rn-1wfhzrg {
  height: 120px;
}

.rn-163hk2x {
  border-top-left-radius: 1px;
}

.rn-10ncb7d {
  border-top-right-radius: 1px;
}

.rn-15576gy {
  border-bottom-right-radius: 1px;
}

.rn-dmthdj {
  border-bottom-left-radius: 1px;
}

.rn-1g7fiml {
  height: 30px;
}

.rn-cqee49 {
  color: rgb(0, 0, 0);
}

.rn-19u6a5r {
  margin-left: 12px;
}

.rn-19yat4t {
  padding-bottom: 15px;
}

.rn-1s9vnxd {
  width: 117px;
}

.rn-898jqq {
  background-color: rgb(235, 235, 235);
}

.rn-1iymjk7 {
  border-top-left-radius: 2px;
}

.rn-s2skl2 {
  border-top-right-radius: 2px;
}

.rn-l5bh9y {
  border-bottom-right-radius: 2px;
}

.rn-101sy47 {
  border-bottom-left-radius: 2px;
}

.rn-1mcorv5 {
  width: 14px;
}

.rn-1gkfh8e {
  font-size: 11px;
}

.rn-1f529hi {
  line-height: 14px;
}

.rn-1jq1je0 {
  background-color: rgb(207, 158, 86);
}

.rn-109y4c4 {
  height: 1px;
}

.rn-127ar04 {
  margin-right: 12px;
}

.rn-1epfwr5 {
  margin-left: 12px;
}

.rn-i03k3n {
  padding-bottom: 14px;
}

.rn-1ifxtd0 {
  margin-bottom: 16px;
}

.rn-rpnbwx {
  margin-top: 13px;
}

.rn-1kb76zh {
  margin-right: 8px;
}

.rn-1jkjb {
  margin-left: 8px;
}

.rn-3i51l3 {
  width: 75.75px;
}

.rn-yen7m {
  height: 76px;
}

.rn-z2g584 {
  width: 76px;
}

.rn-13kc5u0 {
  margin-left: 1px;
}

.rn-1mwlp6a {
  height: 56px;
}

.rn-194z7tz {
  padding-left: 52px;
}

.swiper-container {
  overflow: visible !important;
  margin-top: 10px;
}

.swiper-container .swiper-wrapper .swiper-slide {
  border-radius: 6px;
  width: "100%";
  height: "100%";
}

.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  border-radius: 6px;
  height: "100%";
}

#iframebox {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#mijia {
  width: 100%;
  position: relative;
}

.tab-01-0,
.tab-01-1,
.tab-02-0,
.tab-02-1,
.tab-03-0,
.tab-03-1,
.tab-04-0,
.tab-04-1,
.tab-05-0,
.tab-05-1 {
  max-width: 100%;
  background-size: 100%;
  height: 24px;
  width: 24px;
  background-image: url("https://img.youpin.mi-img.com/static/public/tab/tab_images.png");
}

.tab-01-0 {
  background-position: 0 0%;
  background-size: 100%;
}

.tab-01-1 {
  background-position: 0 11.111111%;
  background-size: 100%;
}

.tab-02-0 {
  background-position: 0 22.222222%;
  background-size: 100%;
}

.tab-02-1 {
  background-position: 0 33.333333%;
  background-size: 100%;
}

.tab-03-0 {
  background-position: 0 44.444444%;
  background-size: 100%;
}

.tab-03-1 {
  background-position: 0 55.555556%;
  background-size: 100%;
}

.tab-04-0 {
  background-position: 0 66.666667%;
  background-size: 100%;
}

.tab-04-1 {
  background-position: 0 77.777778%;
  background-size: 100%;
}

.tab-05-0 {
  background-position: 0 88.888889%;
  background-size: 100%;
}

.tab-05-1 {
  background-position: 0 100%;
  background-size: 100%;
}

.scale-swiper-container .swiper-slide {
  transform: scale(0.9);
}

.scale-swiper-container .swiper-slide-active {
  transform: scale(1);
}

.font-0 {
  font-size: 0;
}

.elem-1 {
  height: 667px;
  width: 100%;
}

.elem-2 {
  width: 100%;
}

.elem-3 {
  background-color: rgba(239, 239, 240, 0);
}

.elem-4 {
  height: 50px;
  width: 50px;
}

.elem-5 {
  background-image: url("https://m.xiaomiyoupin.com/youpin/static/m/res/images/icons/icon_arrow_left_circle_gray.png");
}

.elem-6 {
  width: 31px;
}

.elem-7 {
  background-image: url("https://m.xiaomiyoupin.com/youpin/static/m/res/images/icons/icon_more_solidgray3.png");
}

.elem-8 {
  margin-left: 90px;
  margin-right: 90px;
}

.elem-9 {
  border-bottom-color: rgba(0, 0, 0, 0);
}

.elem-10 {
  color: rgb(132, 95, 63);
}

.elem-11 {
  background-color: rgb(134, 107, 68);
  transform: translateX(6.875px);
  width: 35px;
}

.elem-12 {
  top: 45px;
  z-index: 100;
}

.elem-13 {
  height: 375px;
}

.elem-14 {
  overflow: hidden;
  visibility: visible;
  width: 100vw;
  position: relative;
  height: 376px;
}

.elem-15 {
  overflow-x: hidden;
  position: relative;
  width: 2250px;
}

.elem-16 {
  width: 100vw;
  height: 375px;
  float: left;
  position: relative;
}

.elem-17 {
  background-color: rgba(102, 102, 102, 0.4);
  border-radius: 15px;
  bottom: 14px;
  padding-right: 6px;
  padding-left: 6px;
  right: 13px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
}

.elem-18 {
  font-size: 8px;
}

.elem-19 {
  height: 58px;
}

.elem-20 {
  background-image: url("https://m.xiaomiyoupin.com/youpin/static/m/res/images/product/bookingLine.png");
}

.elem-21 {
  background: linear-gradient(to right, rgb(248, 60, 97), rgb(255, 107, 66));
}

.elem-22 {
  height: 56px;
}

.elem-23 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.elem-24 {
  height: 29.1667px;
  margin-left: 7.29167px;
  margin-right: 7.29167px;
  width: 29.1667px;
}

.elem-25 {
  background-image: url("https://m.xiaomiyoupin.com/youpin/static/m/res/images/product/icon_product_shop.png");
}

.elem-26 {
  color: rgb(122, 122, 122);
}

.elem-27 {
  background-color: #ee0a24;
  border-radius: 19px;
}

.elem-369 {
  text-align: left;
  width: 247px;
}

.elem-369-1 {
  width: 100%;
}

.elem-369-tips {
  font-size: 12px;
  margin-left: 2px;
}

.elem-369-price {
  font-size: 20px;
  color: #ee0a24;
  // font-family: Avenir-Heavy,PingFang SC,Helvetica Neue,Arial,sans-serif;
}

.elem-111 {
  margin: 0 10px 0 10px;
}

.elem-112 {
  border-radius: 10px;
  overflow: hidden;
}

.elem-113 {
  margin-top: 10px;
}

.elem-114 {
  background-color: #ffffff;

  .van-card__price-currency {
    margin-left: 2px;
  }

  .van-card__price-integer {
    font-family: inherit;
  }
}

.elem-115 {
  margin-top: 12px;

  .van-address-item__edit {
    padding: 10px;
    right: -5px;
  }
}

.elem-116 {
  padding: 15px;

  /deep/ .van-cell__title {
    font-weight: 600;
    // font-size: 16px;
  }
}

.elem-117 {
  .van-cell__price {
    span {
      color: black;
    }
  }

  .van-card__price-currency {
    font-size: 12px;
    margin-left: 2px;
  }
}

.elem-currency {
  font-size: 12px;
  margin-left: 2px;
}

.box {
  .nav-bar {
    border: none;
  }
  .nav-bar::after {
    display: none;
  }
}

.van-address-item__tel {
  margin-left: 10px;
}

.submit-order{
  font-size: 14px;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 53px;
  line-height: 53px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0 10px;

  .elem-369-1,
  .elem-369-2{
    display: inline-block;
    vertical-align: middle;
  }

  .elem-369-1{
    width: 70%;
  }

  .elem-369-2{
    width: 30%;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #ee0a24;
    border-radius: 19px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
  }
}