:focus:not([data-rn-x92cna]) {
  outline: none;
}

:focus:not([data-rn-x92cna]) {
  outline: none;
}

@media all {
  html {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    margin: 0px;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button,
  input::-webkit-search-cancel-button,
  input::-webkit-search-decoration,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

@media all {
  html {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    margin: 0px;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button,
  input::-webkit-search-cancel-button,
  input::-webkit-search-decoration,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }
}

.swiper-container {
  overflow: visible !important;
  margin-top: 10px;
}

.swiper-container .swiper-wrapper .swiper-slide {
  border-radius: 6px;
  width: "100%";
  height: "100%";
}

.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  border-radius: 6px;
  height: "100%";
}

#iframebox {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#mijia {
  width: 100%;
  position: relative;
}

.tab-01-0,
.tab-01-1,
.tab-02-0,
.tab-02-1,
.tab-03-0,
.tab-03-1,
.tab-04-0,
.tab-04-1,
.tab-05-0,
.tab-05-1 {
  max-width: 100%;
  background-size: 100%;
  height: 24px;
  width: 24px;
  background-image: url("https://img.youpin.mi-img.com/static/public/tab/tab_images.png");
}

.tab-01-0 {
  background-position: 0 0%;
  background-size: 100%;
}

.tab-01-1 {
  background-position: 0 11.111111%;
  background-size: 100%;
}

.tab-02-0 {
  background-position: 0 22.222222%;
  background-size: 100%;
}

.tab-02-1 {
  background-position: 0 33.333333%;
  background-size: 100%;
}

.tab-03-0 {
  background-position: 0 44.444444%;
  background-size: 100%;
}

.tab-03-1 {
  background-position: 0 55.555556%;
  background-size: 100%;
}

.tab-04-0 {
  background-position: 0 66.666667%;
  background-size: 100%;
}

.tab-04-1 {
  background-position: 0 77.777778%;
  background-size: 100%;
}

.tab-05-0 {
  background-position: 0 88.888889%;
  background-size: 100%;
}

.tab-05-1 {
  background-position: 0 100%;
  background-size: 100%;
}

.scale-swiper-container .swiper-slide {
  transform: scale(0.9);
}

.scale-swiper-container .swiper-slide-active {
  transform: scale(1);
}

.elem-0 {
}

.font-0 {
  font-size: 0;
}

.elem-1 {
  height: 667px;
  width: 100%;
}

.elem-2 {
  width: 100%;
}

.elem-3 {
  background-color: rgba(239, 239, 240, 0);
}

.elem-4 {
  height: 50px;
  width: 50px;
}

.elem-5 {
  background-image: url("https://m.xiaomiyoupin.com/youpin/static/m/res/images/icons/icon_arrow_left_circle_gray.png");
}

.elem-6 {
  width: 31px;
}

.elem-7 {
  background-image: url("https://m.xiaomiyoupin.com/youpin/static/m/res/images/icons/icon_more_solidgray3.png");
}

.elem-8 {
  margin-left: 90px;
  margin-right: 90px;
}

.elem-9 {
  border-bottom-color: rgba(0, 0, 0, 0);
}

.elem-10 {
  color: rgb(132, 95, 63);
}

.elem-11 {
  background-color: rgb(134, 107, 68);
  transform: translateX(6.875px);
  width: 35px;
}

.elem-12 {
  top: 45px;
  z-index: 100;
}

.elem-13 {
  height: 375px;
}

.elem-14 {
  overflow: hidden;
  visibility: visible;
  width: 100vw;
  position: relative;
  height: 376px;
}

.elem-15 {
  overflow-x: hidden;
  position: relative;
  width: 2250px;
}

.elem-16 {
  width: 100vw;
  height: 375px;
  float: left;
  position: relative;
}

.elem-17 {
  background-color: rgba(102, 102, 102, 0.4);
  border-radius: 15px;
  bottom: 14px;
  padding-right: 6px;
  padding-left: 6px;
  right: 13px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
}

.elem-18 {
  font-size: 8px;
}

.elem-19 {
  height: 58px;
}

.elem-20 {
  background-image: url("https://m.xiaomiyoupin.com/youpin/static/m/res/images/product/bookingLine.png");
}

.elem-21 {
  background: linear-gradient(to right, rgb(248, 60, 97), rgb(255, 107, 66));
}

.elem-22 {
  height: 56px;
}

.elem-23 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.elem-24 {
  height: 29.1667px;
  margin-left: 7.29167px;
  margin-right: 7.29167px;
  width: 29.1667px;
}

.elem-25 {
  background-image: url("https://m.xiaomiyoupin.com/youpin/static/m/res/images/product/icon_product_shop.png");
}

.elem-26 {
  color: rgb(122, 122, 122);
}

.elem-27 {
  background: linear-gradient(to right, rgb(255, 66, 66), rgb(252, 91, 91));
  border-radius: 19px;
}

.elem-369 {
  text-align: left;
  width: 247px;
}

.elem-369-1 {
  width: 100%;
}

.elem-369-tips {
  font-size: 12px;
  margin-left: 2px;
}

.elem-369-price {
  font-size: 20px;
  // font-family: Avenir-Heavy,PingFang SC,Helvetica Neue,Arial,sans-serif;
}

.elem-111 {
  margin: 0 10px 0 10px;
}

.elem-112 {
  border-radius: 10px;
  overflow: hidden;
}

.elem-113 {
  margin-top: 10px;
}

.elem-114 {
  background-color: #ffffff;

  .van-card__price-currency {
    margin-left: 2px;
  }

  .van-card__price-integer {
    font-family: inherit;
  }
}

.elem-115 {
  margin-top: 12px;

  .van-address-item__edit {
    padding: 10px;
    right: -5px;
  }
}

.elem-116 {
  padding: 15px;

  /deep/ .van-cell__title {
    font-weight: 600;
    // font-size: 16px;
  }
}

.elem-117 {
  .van-cell__price {
    span {
      color: black;
    }
  }

  .van-card__price-currency {
    font-size: 12px;
    margin-left: 2px;
  }
}

.elem-currency {
  font-size: 12px;
  margin-left: 2px;
}

.box {
  .nav-bar {
    border: none;
  }
  .nav-bar::after {
    display: none;
  }
  /deep/ .van-nav-bar__title {
    // color: #ffffff;
    color: #000000;
  }
  /deep/ .van-nav-bar .van-icon {
    color: #000000;
  }
}

.van-address-item__tel {
  margin-left: 10px;
}

.copy-order-id {
  margin-left: 10px;
  padding: 0 10px;
}

.elem-count-down {
  .order-status {
    font-size: 20px;
  }
  /deep/ .van-button {
    width: 60px;
    height: 30px;
  }
  /deep/ .van-count-down {
    font-size: 12px;
  }
  .temaining {
    margin-right: 6px;
  }
  .colon {
    display: inline-block;
    margin: 0 4px;
    color: #ee0a24;
  }
  .block {
    display: inline-block;
    width: 22px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: #ee0a24;
  }
}

.van-submit-bar {
  background-color: transparent;
  .van-button {
    width: 100%;
    height: 38px;
    line-height: 38px;
    border: 0;
    background-color: #ee0a24;
    background: linear-gradient(to right, #ee0a24, #ee0a24);
  }
}

.footer-button {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 8px 8px 8px;
  .van-button {
    width: 100%;
  }
}

.van-dialog__header {
  padding-bottom: 24px;
}

.van-dialog__footer {
  overflow: hidden;
}

.van-dialog__confirm,
.van-dialog__confirm:active {
  color: #ee0a24;
  a:-webkit-any-link {
    color: inherit;
  }
}

.van-dialog__content {
  .van-button {
    margin-top: 4px;
  }
}
