.interval {
  height: 10px;
}

.van-panel__footer {
  background-color: #ffffff;
  .title {
    font-size: 18px;
    font-weight: 800;
  }
}

.open-floor {
  background-color: #ffffff;
  height: 30px;
}
