.box {
  .nav-bar {
    // background-color: transparent;
    border: none;
  }
  .nav-bar::after {
    display: none;
  }
  /deep/ .van-nav-bar__title {
    // color: #ffffff;
    color: #000000;
  }
  /deep/ .van-nav-bar .van-icon {
    color: #000000;
  }
}

/deep/ input,
/deep/ textarea {
  line-height: 2;
}

/deep/ .van-address-edit__buttons {
  .van-button {
    background-color: #ee0a24;
  }
}
