.login {
  overflow: hidden;
}

.section {
  padding: 8px 12px;
  background-color: #ffffff;
  margin-top: 12px;
}

.agree {
  margin-top: 30px;
  padding: 0 0 0 26px;
  font-size: 0;
  span {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
  }
  .content {
    color: #1989fa;
  }
}

.footer {
  padding: 0 12px;
  .main {
    .login_btn {
      margin-top: 8px;
    }
  }
}
