.order-list{
  // https://www.zhangxinxu.com/wordpress/2018/10/scroll-behavior-scrollintoview-平滑滚动/
  scroll-behavior:smooth;

  /deep/ .van-list{
    scroll-behavior:smooth;
  }

  .item{
    background: #ffffff;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
  }
}
